@font-face {
	font-family: 'vga';
	src: url('./assets/fonts/PxPlus_IBM_VGA8.eot');
	src: url('./assets/fonts/PxPlus_IBM_VGA8.eot?#iefix') format('embedded-opentype'),
	url('./assets/fonts/PxPlus_IBM_VGA8.svg#vga') format('svg'),
	url('./assets/fonts/PxPlus_IBM_VGA8.woff') format('woff'),
	url('./assets/fonts/PxPlus_IBM_VGA8.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}